/* CSS Variables */
@property --gradient-border {
    syntax: '<percentage>';
    inherits: true;
    initial-value: 96%;
}

@property --var1 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 0%;
}

@property --var2 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 0%;
}

:root {
    --main-color-light: rgb(245, 236, 230);
    --secondary-color-light: rgba(128, 128, 128, 0.08);
    --main-color-grey: rgba(128, 128, 128, 0.6);
    --main-color-accent: rgba(194, 0, 0, 0.3);
    --font-color-heading: rgb(24, 24, 24);
    --font-color-text: rgba(0, 0, 0, 0.8);
}

/* Global Styles */
body {
    box-sizing: border-box;
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-areas: 
        "title"
        "main_content";
    height: 100dvh;
    margin: 0;
    padding: min(12px, 2%);
    background-color: var(--main-color-light);
    font-family: 'Inter', 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, sans-serif;
    overflow: hidden;
}

.background {
    position: fixed;
    width: 100dvw;
    height: 100dvh;
    top: 0;
    left: 0;
    transition: --gradient-border 1s ease-in-out;
    background: linear-gradient(135deg,
            rgb(255, 255, 255) var(--gradient-border),
            rgb(0, 0, 0) var(--gradient-border));
    z-index: 10;
    mix-blend-mode: difference;
    pointer-events: none;
}

.background_dark {
    --gradient-border: 4%;
}

.disabled {
    pointer-events: none;
}

p {
    font-size: 1rem;
    line-height: 1.5;
    color: var(--font-color-text);
}

h1 {
    color: var(--font-color-heading);
    font-size: 2rem;
}

h2 {
    color: var(--font-color-heading);
    font-size: 1.5rem;
}

hr {
    border: 0;
    height: 1px;
    background: rgb(121, 121, 121);
    margin: 10px 0;
}

a {
    color: rgb(0, 79, 170);
    mix-blend-mode: normal;
}

.big {
    font-size: 3rem;
    font-weight: 600;
}

/* Title Styles */
.title-wrapper {
    grid-area: title;
    position: relative;
    display: inline-block;
    width: 100%;
    height: calc(16dvw / 2);
}

svg {
  display: block;
  width: auto;
  height: auto;
  transform-origin: top;
  transform: scaleY(0.5);
}

.title-text {
    fill: var(--font-color-heading);
    mix-blend-mode: multiply;
    opacity: 1;
    font-size: 20px;
    font-weight: 800;
    font-family: 'Times New Roman', Times, serif, sans-serif;
    opacity: 0.8;
    transition: opacity 0.5s ease;
    user-select: none;
}

.title-text.faded {
    opacity: 0.07;
}

.main_content{
    grid-area: main_content;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 0;
}

.main_container {
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    max-width: 1200px;
    overflow: hidden;
}

.nameplate {
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-size: 2rem;
    width: 100vw;
    height: 100%;
    padding: 0 2rem;
}

/* Top Menu Styles */
.top_menu {
    display: flex;
    width: 1200px;
    height: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: 'Georgia', 'Times New Roman', Times, serif;
    font-weight: 600;
}

.menu_item {
    position: absolute;
    bottom: 20px;
    right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    padding: 0px;
    font-size: 2rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

.menu_item:hover {
    transform: scale(1.2);
    --gradient-border: 5%;
}

.menu_item:active {
    transform: scale(1.1);
}

.top_menu_item {
    position: relative;
    user-select: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

.top_menu_item::after{
    content: "";
    position: absolute;
    inset: 0;
    background-color: var(--main-color-light);
    transform-origin: center;
    transform: scaleY(0) scaleX(1.1);
    transition: transform 0.3s;
    mix-blend-mode: difference;
}

.top_menu_item:hover::after {
    transform: scaleY(1) scaleX(1.1);
}
.top_menu_item.active::after{
    transform: scaleY(1) scaleX(1.1);
}

.top_menu_item.active:hover::after{
    transform: scaleY(1) scaleX(1.2);
}

.animation_fade_in {
    animation: elementFadeIn 0.5s normal forwards;
}

.animation_fade_out {
    animation: elementFadeOut 0.5s normal forwards;
}

@keyframes elementFadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 100%;
        transform: translateY(0px);
    }
}

@keyframes elementFadeOut {
    0% {
        opacity: 100%;
    }

    100% {
        opacity: 0;
    }
}

/* Ticker Styles */
.ticker {
    width: 100%;
    overflow: hidden;
    border-radius: 10px;
    margin-bottom: 20px;
}

.ticker-track {
    display: flex;
    width: max-content;
    color: rgb(255, 0, 0);
    animation: ticker 10s linear infinite, red-alert 1s infinite alternate ease-in-out;
}

.tick {
    display: inline-block;
    font-size: 100px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    user-select: none;
    white-space: nowrap;
    text-align: center;
}

@keyframes ticker {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-50%);
    }
}

@keyframes red-alert {
    0% {
        color: rgb(255, 0, 0);
    }

    100% {
        color: rgb(131, 0, 0);
    }
}


.flex_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 20px 0;
    gap: 20px;
}

.flex_container.space_between {
    justify-content: space-between;
}

.button {
    box-sizing: border-box;
    position: relative;
    margin: 10px;
    padding: 10px 20px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--secondary-color-light);
    transition: all 0.3s ease;
    cursor: pointer;
}

/* Tech Item Styles */
.tech_item {
    box-sizing: border-box;
    position: relative;
    margin: 10px;
    padding: 10px;
    width: 120px;
    height: 120px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--secondary-color-light);
    transition: all 0.3s ease;
}

.tech_item_shine {
    inset: 0;
    position: absolute;
    border-radius: 10px;
    background: linear-gradient(120deg, transparent var(--var1), white var(--var1), white var(--var2), transparent var(--var2));
    z-index: 100;
}

.shine_animation {
    animation: colourShift 0.5s linear;
}

@keyframes colourShift {
    0% {
        --var1: 0%;
        --var2: 0%;
    }

    20% {
        --var1: 0%;
        --var2: 20%;
    }

    50% {
        --var1: 40%;
        --var2: 60%;
    }

    80% {
        --var1: 80%;
        --var2: 100%;
    }

    100% {
        --var1: 100%;
        --var2: 100%;
    }

    ;
}

.tech_item svg {
    margin: 10px 0;
    width: 100%;
    height: 100%;
    display: block;
}

.tech_item img {
    margin: 10px 0;
    width: 100%;
    height: 70%;
    display: block;
    transition: all 1s ease;
}

.tech_item:hover {
    box-shadow: 0px 0px 10px var(--main-color-grey);
}

/* Project Box Styles */
#project_section {
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

.project_box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "description picture"
        "tags picture"
    ;
    column-fill: auto;
    width: 100%;
    height: fit-content;
    margin: 10px;
    border-radius: 4px;
    background-color: var(--secondary-color-light);
    transition: all 0.3s ease;
}

.project_box:hover {
    box-shadow: 0 0 10px var(--main-color-grey);
}

.project_box .description {
    grid-area: description;
    height: auto;
    margin: min(30px, 2vw);
}

.project_box .picture {
    grid-area: picture;
    overflow: hidden;
    width: auto;
    height: 100%;
    border-radius: 0px 4px 4px 0px;
}

@media screen and (max-width: 600px) {
    .project_box {
        grid-template-columns: 1fr;
        grid-template-areas:
            "picture"
            "description"
            "tags"
        ;
    }

    .project_box .picture {
        border-radius: 4px 4px 0px 0px;
    }
}

.picture>img {
    position: relative;
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    transition: all 1s ease;
}

.project_box .tags {
    position: relative;
    grid-area: tags;
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: left;
    align-items: center;
    width: auto;
    height: fit-content;
    gap: 10px;
    margin: min(30px, 2vw);
}

.tags img {
    width: clamp(30px, 3vw, 40px);
    height: clamp(30px, 3vw, 40px);
    display: block;
    position: relative;
    object-fit: contain;
    background: radial-gradient(rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0) 60%);
    transition: all 0.3s ease;
}

.tags>img:hover {
    transform: rotateZ(10deg);
}

/* 3D Scene Styles */
.scene3D {
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
    perspective: 300px;
}

.tilt {
    transform: rotateY(25deg);
    text-align: center;
}

.slideSide {
    animation: slideAndFadeOut 1s normal forwards;
}

.slideSideReverse {
    animation: slideAndFadeOut 1s reverse forwards;
}

.slideUp {
    animation: slideUpAndFadeOut 1s normal forwards;
}

.slideUpReverse {
    animation: slideUpAndFadeOut 1s reverse forwards;
}

.slideDown {
    animation: slideDownAndFadeOut 1s normal forwards;
}

.slideDownReverse {
    animation: slideDownAndFadeOut 1s reverse forwards;
}

@keyframes slideDownAndFadeOut {
    0% {
        transform: translateY(0px);
        opacity: 1;
    }

    100% {
        transform: translateY(500px);
        opacity: 0;
    }
}

@keyframes slideUpAndFadeOut {
    0% {
        transform: translateY(0px);
        opacity: 1;
    }

    100% {
        transform: translateY(-500px);
        opacity: 0;
    }
}

@keyframes slideAndFadeOut {
    0% {
        transform: translateX(0px);
        opacity: 1;
    }

    100% {
        transform: translateX(-500px);
        opacity: 0;
    }
}

.text-container {
    position: relative;
    transform-origin: center;
    text-align: center;
    transition: transform 1s ease, opacity 1s ease;
}

@starting-style {
    .text-container {
        transform: translateX(-300px);
        opacity: 0%;
    }
}

.container {
    display: inline-block;
    position: relative;
    transition: transform 0.1s linear;
}

.text {
    display: inline-block;
    position: relative;
    color: var(--font-color-heading);
    font-size: clamp(3rem, 10vw, 6.5rem);
    font-weight: 1000;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 0px;
    line-height: clamp(3rem, 10vw, 6.5rem);
    transition: transform 0.1s linear;
    backface-visibility: hidden;
    user-select: none;
    cursor: pointer;
}

.text::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: var(--main-color-accent);
    transform-origin: center;
    transform: scaleY(0);
    transition: transform 0.3s;
    backface-visibility: hidden;
    -webkit-font-smoothing: subpixel-antialiased;
    z-index: -1;
}

.text:hover::before {
    transform: scaleY(1);
}

.container:hover {
    transform: scale(1.1);
}

/* Overrides */
.display-none {
    opacity: 0%;
    display: none;
    pointer-events: none;
}
img {
    filter: invert(1);
}

.invert {
    filter: invert(0);
}