@property --gradien-border {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 96%;
}
@property --var1 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 0%;
}

@property --var2 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 0%;
}

:root {
    --main-color-light: rgb(255, 247, 241);
    --main-color-dark: rgb(24, 24, 24);
    --main-color-grey: rgba(128, 128, 128, 0.3);
    --main-color-accent: rgb(194, 0, 0);
}

body{
    box-sizing: border-box;
    margin: 0 min(24px, 2%);
    height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Inter', 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, sans-serif;
    color: var(--main-color-light);
    overflow-x: hidden;
    overflow-y: hidden;
}
.background{
    position: fixed;
    width: 100dvw;
    height: 100dvh;
    top: 0;
    left: 0;
    transition: --gradien-border 1s ease-in-out;
    background: linear-gradient(
    45deg,
    var(--main-color-dark) var(--gradien-border),
    var(--main-color-light) var(--gradien-border));
    z-index: -10;
    mix-blend-mode: difference;
}

.background_dark {
  --gradien-border: 4%;
}
.disabled {
    pointer-events: none;
}

p {
    font-size: 1rem;
    line-height: 1.5;
    color: rgba(255, 255, 255, 0.8);
    mix-blend-mode: difference;
}
h1 {
    color: white;
    font-size: 2rem;
    mix-blend-mode: difference;
}
h2 {
    font-size: 1.5rem;
    margin-top: 0;
    mix-blend-mode: difference;
}
hr {
    border: 0;
    height: 1px;
    background: rgb(121, 121, 121);
    margin: 10px 0;
}
a {
    color: white;
    mix-blend-mode: normal;
}

.main_container {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    max-width: 900px;
    height: fit-content;
    max-height: 80dvh;
    overflow-y: auto;
    overflow-x: auto;
    color: white;
    mix-blend-mode: difference;
}

.main_section{
    color: white;
}

.nameplate {
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-size: 2rem;
    width: 100vw;
    height: fit-content;
    margin: 1rem 0px;
    padding: 0 1rem;
    color: white;
    mix-blend-mode: difference;
}

/* Top Menu Styles */
.top_menu {
    display: flex;
    width: 900px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 1000;
}
.menu_item {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    margin: 0 10px;
    padding: 0px;
    font-size: 2rem;
    cursor: pointer;
    transition: all 0.3s ease;
    z-index: 0;
}
.menu_item:hover {
    transform: scale(1.2);
}
.menu_item:active {
    transform: scale(1.1);
}
.top_menu_container{
    display: inline-block;
    position: relative;
    cursor: pointer;
}
.top_menu_container:hover .top_menu_item_highlight {
    transform: scaleY(1);
}
.top_menu_item_highlight {
    display: inline;
    position: absolute;
    inset: 0;
    background-color: var(--main-color-light);
    transform-origin: center;
    transform: scaleY(0);
    transition: transform 0.3s;
    z-index: 0;
    mix-blend-mode: difference;
}
.top_menu_item{
    cursor: pointer;
}

.animation_fade_in{
    animation: elementFadeIn 0.5s normal forwards;
}
.animation_fade_out{
    animation: elementFadeOut 0.5s normal forwards;
}
@keyframes elementFadeIn {
    0%   { opacity: 0; }
    100% { opacity: 100%; }
}
@keyframes elementFadeOut {
    0%   { opacity: 100%; }
    100% { opacity: 0; }
}

/* Ticker Styles */
.ticker {
    width: 100%;
    overflow: hidden;
    border-radius: 10px;
    margin-bottom: 20px;
}
.ticker-track {
    display: flex;
    width: max-content;
    color: rgb(255, 0, 0);
    animation: ticker 10s linear infinite, red-alert 1s infinite alternate ease-in-out;
}
.tick{
    display: inline-block;
    font-size: 100px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    user-select: none;
    white-space: nowrap;
    text-align: center;
}
@keyframes ticker {
    0%   { transform: translateX(0%); }
    100% { transform: translateX(-50%); }
}
@keyframes red-alert{
    0%   { color: rgb(255, 0, 0); }
    100%  { color: rgb(131, 0, 0); }
}


.flex_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 20px 0;
}
.flex_container.space_between {
    justify-content: space-between;
}
.button{
    box-sizing: border-box;
    position: relative;
    margin: 10px;
    padding: 10px 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(128, 128, 128, 0.226);
    transition: all 0.3s ease;
    cursor: pointer;
}

/* Tech Item Styles */
.tech_item {
    box-sizing: border-box;
    position: relative;
    margin: 10px;
    padding: 10px;
    width: 120px;
    height: 120px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(128, 128, 128, 0.05);
    transition: all 0.3s ease;
}
.tech_item_text{
    mix-blend-mode: difference;
}
.tech_item_shine {
    top: 0;
    left: 0;
    position: absolute;
    width: 120px;
    height: 120px;
    border-radius: 10px;
    background: linear-gradient(120deg, transparent var(--var1), white var(--var1), white var(--var2), transparent var(--var2));
}
.shine_animation {
    animation: colourShift 0.5s linear;
}
@keyframes colourShift {
    0%   {--var1: 0%; --var2: 0%;}
    20%  { --var1: 0%; --var2: 20%;}
    50%  { --var1: 40%; --var2: 60%;}
    80%  { --var1: 80%; --var2: 100%;}
    100% { --var1: 100%; --var2: 100%;};
}

.tech_item svg {
    margin: 10px 0;
    width: 100%;
    height: 100%;
    display: block;
}
.tech_item img {
    margin: 10px 0;
    width: 100%;
    height: 70%;
    display: block;
}
.tech_item:hover {
    box-shadow: 0px 0px 10px var(--main-color-grey);
}

/* Project Box Styles */
.project_box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "description picture"
    "tags picture"
    ;
    column-fill: auto;
    width: 100%;
    height: fit-content;
    margin: 10px;
    border-radius: 4px;
    background-color: rgba(128, 128, 128, 0.05);
    transition: all 0.3s ease;
}
.project_box:hover {
    box-shadow: 0 0 10px var(--main-color-grey);
}
.project_box .description {
    grid-area: description;
    height: auto;
    margin: min(30px, 2vw);
}
.project_box.small_project_box .description {
    margin: 20px;
    min-height: 220px;
}
.project_box .picture {
    grid-area: picture;
    overflow: hidden;
    width: auto;
    height: 100%;
    border-radius: 0px 4px 4px 0px;
}
@media screen and (max-width: 600px) {
    .project_box {
        grid-template-columns: 1fr;
        grid-template-areas:
        "picture"
        "description"
        "tags"
        ;
    }
    .project_box .picture {
        border-radius: 4px 4px 0px 0px;
    }
}
.picture > img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}
.project_box .tags{
    grid-area: tags;
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: left;
    align-items: center;
    width: auto;
    height: fit-content;
    gap: 10px;
    margin: min(30px, 2vw);
}
.tags img {
    width: clamp(30px, 3vw, 40px);
    height: clamp(30px, 3vw, 40px);
    display: block;
    object-fit: contain;
    background: radial-gradient( rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0) 60%);
    transition: all 0.3s ease;
}
.tags > img:hover {
    transform: rotateZ(10deg);
}

/* 3D Scene Styles */
.scene3D {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
    width: 100dvw;
    height: 100dvh;
    z-index: 0;
    perspective: 300px;
    will-change: transform;
}
.tilt {
    transform: rotateY(25deg);
    text-align: center;
}
.slideSide{
    animation: slideAndFadeOut 1s normal forwards;
}
.slideSideReverse{
    animation: slideAndFadeOut 1s reverse forwards;
}
.slideUp{
    animation: slideUpAndFadeOut 1s normal forwards;
}
.slideUpReverse{
    animation: slideUpAndFadeOut 1s reverse forwards;
}
.slideDown{
    animation: slideDownAndFadeOut 1s normal forwards;
}
.slideDownReverse{
    animation: slideDownAndFadeOut 1s reverse forwards;
}

@keyframes slideDownAndFadeOut{
    0%   { transform: translateY(0px); opacity: 1; }
    100% { transform: translateY(500px); opacity: 0; }
}
@keyframes slideUpAndFadeOut{
    0%   { transform: translateY(0px); opacity: 1; }
    100% { transform: translateY(-500px); opacity: 0; }
}
@keyframes slideAndFadeOut {
    0%   { transform: translateX(0px); opacity: 1; }
    100% { transform: translateX(-500px); opacity: 0; }
}
.text-container{
    position: relative;
    transform-origin: center;
    text-align: center;
    opacity: 100%;
    transform: translateX(0);
    transition: transform 1s ease, opacity 0.5s ease;
    z-index: 1;
    will-change: transform;
}
@starting-style{
    .text-container{
        transform: translateX(-300px);
        opacity: 0%;
    }
}
.container{
    display: inline-block;
    position: relative;
    transition: transform 0.1s linear;
}
.text {
    display: inline-block;
    position: relative;
    color: var(--main-color-light);
    font-size: clamp(3rem, 10vw, 6.5rem);
    font-weight: 1000;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 0px;
    line-height: clamp(3rem, 10vw, 6.5rem);
    transition: color 1s linear, transform 0.1s linear;
    backface-visibility: hidden;
    user-select: none;
    cursor: pointer;
}
.text-highlight {
    display: inline;
    position: absolute;
    inset: 0;
    background-color: var(--main-color-accent);
    transform-origin: center;
    transform: scaleY(0);
    transition: transform 0.3s;
    backface-visibility: hidden;
    -webkit-font-smoothing: subpixel-antialiased;
}
.container:hover .text-highlight {
    transform: scaleY(1);
}
.text-light {
    color: var(--main-color-dark);
}
.container:hover {
    transform: scale(1.1);
}

.display-none{
    opacity: 0%;
    display: none;
    pointer-events: none;
}